body{
  background-image:url("../images/bg2.jpg");
}
h3{
  text-align: center;
}
/*navbar*/
#navbar1{
  width:100%;
  height:50px;
}

#navbar1 .navbar{
  background-color: #40befb;
}
#navbar1 .navbar a{
  color:#000;
}
#navbar1 .navbar li>a:hover{
  background-color: #40befb;
  border-left:#000000 solid 3px;
  margin-left: 5px;
}
#navbar1 .open a{
  background-color: #40befb;
}
#navbar1 .open li a{
  background-color: #fff;
}
.navbar1{
  width:100%;
  height:50px;
  border: none;
}
/*carousel*/
.indexCarousel{
  width: 100%;
  border:#000000 solid 3px;
}
.carousel-caption{
  bottom: 20%;
}
/*----------*/
/*banner*/
.banner-product{
  width: 100%;
  height: 300px;
}
.font-title{
  font-weight: bold;
  line-height: 1.5em;
  color:#fff;
  background-color: #000;
}

.affix {
    top: 0px;
    width: 100%;
    z-index: 3;
  }
  #footer{
     width: 100%; background-color:#000; color:#40befb;
   }
   #footer2{
        width: 100%; background-color:#000; color:#fff;
      }

   @media screen and (min-width: 481px) {
     #myCarousel img {
       height: 800px;
     }

   }
   @media screen and (min-width: 768px) {
     .indexCarousel{
       width: 80%;
       margin-left: auto;
       margin-right: auto;
     }
     #myCarousel img {
       height: 800px;
     }
   }
    .about-text{
      font-size: 24px;
      line-height: 2em;
    }
   .bg-test{
     padding-top:5%;
     width: 100%;
     height: 300px;
     background-image: url("../images/lagoon-2105231_1920.jpg");
     background-repeat: no-repeat;
   }
